<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header.ejs') -%>

  <body>

    <%- include('layouts/nav.ejs') -%>

      <!-- Page Header -->
      <header class="masthead" style="background-image: url('img/Purpose-of-Blogging.jpeg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h1>Clean Blog</h1>
                <span class="subheading">A Blog Theme by Start Bootstrap</span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Main Content -->
      <div class="container">
        <div class="row">
          <form action="/posts/search" method="POST">
            <div class="md-form mt-0">
              <input style="margin-left:300px" name="search" class="form-control" type="text" placeholder="Search"
                aria-label="Search">
              <!-- <input class="btn btn-success" type="submit" value="Submit"> -->
            </div>
          </form>
          <div class="col-lg-8 col-md-10 mx-auto">
            <% for (let blog of blogs) { %>
              <div class="post-preview">
                <a href="/post/<%= blog._id %>">
                  <h2 class="post-title">
                    <%= blog.title %>
                  </h2>
                  <h3 class="post-subtitle">
                    <!-- <%= blog.body %> -->
                    <%- blog.body %>
                  </h3>
                </a>
                <p class="post-meta">Posted by
                  <a href="/post/<%= blog.userid.username %>">
                    <%= blog.userid.username %>
                  </a>
                  <%= blog.datePosted.toDateString() %>
                </p>
              </div>
              <hr>
              <% } %>
                <!-- <div class="post-preview">
              <a href="/post">
                <h2 class="post-title">
                  I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                </h2>
              </a>
              <p class="post-meta">Posted by
                <a href="#">Start Bootstrap</a>
                on September 18, 2019
              </p>
            </div>
            <hr>
            <div class="post-preview">
              <a href="/post">
                <h2 class="post-title">
                  Science has not yet mastered prophecy
                </h2>
                <h3 class="post-subtitle">
                  We predict too much for the next year and yet far too little for the next ten.
                </h3>
              </a>
              <p class="post-meta">Posted by
                <a href="#">Start Bootstrap</a>
                on August 24, 2019
              </p>
            </div>
            <hr> -->
                <!-- <div class="post-preview">
              <a href="/post">
                <h2 class="post-title">
                  Failure is not an option
                </h2>
                <h3 class="post-subtitle">
                  Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                </h3>
              </a>
              <p class="post-meta">Posted by
                <a href="#">Start Bootstrap</a>
                on July 8, 2019
              </p>
            </div>
            <hr> -->
                <!-- Pager -->
                <div class="clearfix">
                  <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                </div>
          </div>
        </div>
      </div>

      <hr>

      <%- include('layouts/footer.ejs') -%>

        <%- include('layouts/scripts') -%>

  </body>

</html>